* text=auto !eol
/.classpath -text svneol=unset#application/xml
/.project -text svneol=unset#application/xml
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text svneol=unset#application/xml
.settings/org.eclipse.wst.common.project.facet.core.xml -text svneol=unset#application/xml
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text svneol=unset#application/xml
src/main/java/edu/uiowa/slis/YouTubeTagLib/DBTest.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/Sequence.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/YouTubeTagLibBodyTagSupport.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/YouTubeTagLibTagSupport.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/channel/Channel.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/channel/ChannelChannelId.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/channel/ChannelChannelTitle.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/channel/ChannelDeleter.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/channel/ChannelIterator.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/channel/ChannelRelevant.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/playlist/Playlist.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/playlist/PlaylistChannelId.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/playlist/PlaylistDeleter.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/playlist/PlaylistDescription.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/playlist/PlaylistEtag.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/playlist/PlaylistIterator.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/playlist/PlaylistPlaylistId.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/playlist/PlaylistPublished.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/playlist/PlaylistPublishedToNow.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/playlist/PlaylistRelevant.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/playlist/PlaylistTitle.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/playlistItem/PlaylistItem.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/playlistItem/PlaylistItemDeleter.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/playlistItem/PlaylistItemIterator.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/playlistItem/PlaylistItemPlaylistId.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/playlistItem/PlaylistItemVideoId.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/tag/Tag.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/tag/TagDeleter.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/tag/TagIterator.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/tag/TagSeqnum.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/tag/TagTag.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/tag/TagVideoId.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/util/Loader.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/util/LocalProperties.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/util/PropertyLoader.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/video/Video.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/video/VideoCaption.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/video/VideoCommentCount.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/video/VideoDefinition.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/video/VideoDeleter.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/video/VideoDescription.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/video/VideoDislikeCount.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/video/VideoDuration.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/video/VideoFavoriteCount.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/video/VideoIterator.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/video/VideoLikeCount.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/video/VideoPlayer.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/video/VideoPublished.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/video/VideoPublishedToNow.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/video/VideoRelevant.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/video/VideoTitle.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/video/VideoVideoId.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/video/VideoViewCount.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/videoThumbnail/VideoThumbnail.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/videoThumbnail/VideoThumbnailDeleter.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/videoThumbnail/VideoThumbnailHeight.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/videoThumbnail/VideoThumbnailIterator.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/videoThumbnail/VideoThumbnailSize.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/videoThumbnail/VideoThumbnailUrl.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/videoThumbnail/VideoThumbnailVideoId.java -text
src/main/java/edu/uiowa/slis/YouTubeTagLib/videoThumbnail/VideoThumbnailWidth.java -text
src/main/resources/META-INF/taglib.tld -text svneol=unset#application/xml
src/non-packaged-resources/Model.clay -text svneol=unset#application/xml
src/non-packaged-resources/views.sql -text
src/test/java/edu/uiowa/slis/YouTubeTagLib/README.txt -text
src/test/resources/README.txt -text
